<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>Order List</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Time Placed Order</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to(order.id, order_path(order.token)) %></td>
          <td><%= order.created_at.to_s(:long) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
