<div class="main-sec">
  <div class="col-md-8 col-centered">

    <br>

    <div class="row">
        <div class="col-md-4">
            <h3><%= image_tag("https://s3.amazonaws.com/logdown-production/system/blog/24325/og_image/dora.jpg", class: "about-us") %></h3>
        </div>
        <div class="col-md-8">
          <h3 style="font-family: 'Dancing Script', cursive; font-size: 2.1em;">Tim</h3>
          <p class="intro">來自台北，曾於加拿大，台北，東京，大阪，上海等地工作<br>
            熱愛旅遊，熱愛讀書，熱愛學習<br>
          希望能認識志同道合的你<br><br>
          微信: yitihua1320<br>
          Slack: @timc-2
        </p>
        </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4 col-md-push-8">
            <h3><%= image_tag("http://ww3.sinaimg.cn/large/006tNbRwgy1ffz2557uf9j30jg0jgacu.jpg", class: "about-us") %></h3>
          </div>
            <div class="col-md-8 col-md-pull-4">
              <h3 style="font-family: 'Dancing Script', cursive; font-size: 2.1em;">Sylvia</h3>
              <p class="intro">來自广东佛山，语言控<br>
                喜欢天文和电影，常和来自世界各地的歪果仁生活和工作<br>
                希望与你认识，共同成长进步<br><br>
                微信: sylvia_lyu<br>
                Slack:  @sylvia
              </p>
            </div>
        </div>



            </div>
        </div>
