/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html {
    overflow-x: hidden; overflow-y: auto; //网页在x轴上全屏显示，让横滚动轴消失
}

/* login css */
/*===== user ====*/
.user_setup{
    height: 750px;
    background: image_url("user_background.jpg") no-repeat scroll top center/ cover;
}

.user_setup_content{
    background: #fff;

    margin-top: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 3px 5px #333;

    border: 5px solid #666;

    border-radius: 25px;

    opacity:0.95;
    filter:alpha(opacity=95);

    h2{
      text-align: center;
    }

    .psw{
      float: right;
      margin-top: -33px;
      position: relative;
    }

    .account{
      text-align: center;
    }

    .form-inputs{
      margin-top: 25px;
    }

    .form-actions{
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px;

      .button{
        color: #fff;

        background-color: #4A6BB5;

        border-color: #4A6BB5;

        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #4A99B5;

          border-color: #4A99B5;

          color: #fff;

      }
    }
}


/*===== 所有頁面採用相同底圖 ====*/
 body {
    // background: url("https://ww4.sinaimg.cn/large/006tNbRwgy1ffbtqgk3kqj31hc11q7wh.jpg ");
    //这个设定的背景图片可以应用到除了首页这类已经专门设定背景的所有网站页面，免去重复设定背景的烦恼。

    // background-size: cover;
    //这段代码主要实现了图片不会被拉伸变现的效果

    // background-attachment: fixed;
    // background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #636262;
    font-size: 14px;
}



/*= 首頁下方「馬上購買」按鈕=*/
.actiontrigger{
display:block;
background:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
url(http://ww2.sinaimg.cn/large/006tKfTcgy1ffxek5bjnaj30w80hrtj1.jpg);
background-position: bottom center;
background-size:cover;
margin-left:auto;
margin-right:auto;
padding-top:60px; //按鈕下降
width:100%;
// min-width:960px;
height:200px;
position:relative;
text-align: center;
}

.btn-actiontrigger {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    letter-spacing: 1px;
}

.btn-actiontrigger:hover,
.btn-actiontrigger:focus {
  color: #f96277;
  box-shadow: rgba(242, 242, 242, 0.5) 0 0px 0px 4em inset;
  text-decoration: none;
}

/*測試用- 5种背景颜色*/
.bg-color1 {
  background: #50514F;
}

.bg-color2 {
  background: #F25F5C;
}

.bg-color3 {
  background: #FFE066;
}

.bg-color4 {
  background: #247BA0;
}

.bg-color5 {
  background: #70C1B3;
}


#wechat_pay_overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
background-color: rgba(0,0,0,0.8);
cursor: pointer;
}

#alipay_overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
background-color: rgba(0,0,0,0.8);
cursor: pointer;
}

#timer{
text-align: center;
font-size: 30px;
background-color:black;
color: white;
}

.discount{
  color: red;
  // font-size: 30px;
}


.about-us{
  width: 100px;
  height: 100px;
}

/*===== 常用项 ====*/
.col-centered {
  float: none;
  margin: 0 auto;
}
