/*===== navbar基本设置 ====*/
.navbar {
  padding-bottom: 1em;
}

 .navbar-df {
    background: #fff;
    border-color: #fff;
    color: #f96277 !important;
    border-radius: 0;
    height: 70px; //设置 navbar 高度
    margin-bottom: 20px;
}


/*===== logo 设置 ====*/
.logobox-1 {
  img {
    display: inline-block; //图片和链接文字显示在同一行
    margin-left: 10px;
    margin-right: -10px;
    margin-top: 0px;  //图片和链接文字拉开一点距离
    width: 32px; //定制图片宽度
    height: 32px; //定制图片高度
  }
}

.logobox-2 {
  margin-left: -10px;
  font-family: 'Dancing Script', cursive; //设置 logo "SweetSweet" 字体
  color: #f96277;
  font-size: 1.2em;
  margin-top: 10px;
}


/*===== navbar 按钮 设置 ====*/
 .navbar-df .navbar-nav > li > a{
   color: #f96277;//
   padding-top: 24px;
   padding-bottom: 23px;
 }

 .navbar-df .navbar-nav > li > a:hover,
 .navbar-df .navbar-nav > li > a:focus {
   color: #636262;

   background-color: transparent;
 }
 .navbar-df .navbar-nav > .active > a,
 .navbar-df .navbar-nav > .active > a:hover,
 .navbar-df .navbar-nav > .active > a:focus {
   color: #636262;

   background-color: transparent;

 }

 .navbar-df .navbar-nav > .open > a,
 .navbar-df .navbar-nav > .open > a:focus,
 .navbar-df .navbar-nav > .open > a:hover {
   color: #636262;

   background-color: transparent;

 }


/*===== search bar ======*/
.search {
  i {
    color: #ff7286
  }
}


/*===== 购物车及登录按钮 ======*/
.nav navbar-nav navbar-right {
  i {
    padding-top: -300px;
  }
}


/*===== Footer 页脚 ======*/
.footer{
  text-align: center;
  min-height: 200px;
  background-color: #ff7a8d;
  color: #fff;
  font-size: 14px;
  padding-bottom: 0.5em;

  h4 {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #fff;
  }

  li {
    margin-top: 6px;
    text-align: center;
  }

  a {
    text-decoration:none;
    color: #fff;
  }

  a:hover,
  a:active,
  a:focus {
    color: #e5dada;
    text-decoration: none;
  }
}

.footer-box {
    text-align: center !important;
    margin-top: 5px;

    a {
      span {
        color: #fff;
        font-size: 32px;
        margin: 0.5em;
      }
      span:hover {
        color: #e5dada;
      }
    }
}
