<div class="col-md-10 col-centered">

    <div class="col-md-12 description">
        <p><%= @product.description %></p><br/>
        <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg3gez8qt4j30w80hs787.jpg" alt="Lights"  style="width:100%">

        <hr>
        <p class="package">Our Package</p>

    </div>

</div>
