<div class="col-md-10 col-centered">

    <div class="col-md-12 description">
        <p class="package">~ Special Package ~</p>

        <p><%= @product.description %></p><br/>


        <div class="row">
          <!-- 行1，左侧大图 -->
          <div class="col-md-6 pacimg">
            <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg3jh7lxwcj30w80hsq7h.jpg" alt="Lights"  style="width:100%">
          </div>
          <!-- 行1，右侧4张小图 -->
          <div class="col-md-6">
            <div class="row"> <!-- 行 1.1，右侧2张小图 -->
              <div class="col-md-6 pacimg">
                <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg3iylcc22j30l40ak0t9.jpg" alt="Lights"  style="width:100%">
              </div>
              <div class="col-md-6 pacimg">
                <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg3iyy3kpvj30l40ak3z5.jpg" alt="Lights"  style="width:100%">
              </div>
            </div>

            <div class="row"> <!-- 行 1.2，右侧2张小图 -->
                <div class="col-md-6 pacimg">
                  <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg3j0fn0b8j30w60hs768.jpg" alt="Lights"  style="width:100%">
                </div>
                <div class="col-md-6 pacimg">
                  <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg3j1aspisj30w60hstbg.jpg" alt="Lights"  style="width:100%">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- 行2，左侧4张小图 -->
            <div class="col-md-6">
              <div class="row"> <!-- 行 2.1，左侧2张小图 -->
                <div class="col-md-6 pacimg">
                  <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg3j6vvxbwj30l40akmxq.jpg" alt="Lights"  style="width:100%">
                </div>
                <div class="col-md-6 pacimg">
                  <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1fg3j6t34f6j313y0jyaiv.jpg" alt="Lights"  style="width:100%">
                </div>
              </div>

              <div class="row"> <!-- 行 2.2，左侧2张小图 -->
                  <div class="col-md-6 pacimg">
                    <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fg3j6rqza2j30w60hs0up.jpg" alt="Lights"  style="width:100%">
                  </div>
                  <div class="col-md-6 pacimg">
                    <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fg3j5xtcdcj30w80hsgnm.jpg" alt="Lights"  style="width:100%">
                  </div>
                </div>
              </div>

              <!-- 行2，右侧大图 -->
              <div class="col-md-6 pacimg">
                <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fg3jhjotbfj30w80hsq56.jpg" alt="Lights"  style="width:100%">
              </div>

            </div>



    </div>
</div>
